/******************************************************
* 01 - MAIN INITIALISATION
*******************************************************/
/******************************************************
* 02 - QUERIES
*******************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #FFFFFF;
  font-family: "Ubuntu", sans-serif;
  color: #211d12; }
  body strong {
    background-color: #cc9966;
    padding: 0px 5px 0px 5px;
    color: #FFFFFF;
    font-style: italic; }

header {
  height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center; }
  header section h1 {
    animation: jackInTheBox;
    animation-duration: 0.75s;
    font-size: 50px;
    padding-bottom: 15px; }
  header section p {
    animation: jackInTheBox;
    animation-duration: 0.75s; }
  header .aboutme {
    background: #cc9966;
    border-radius: 25px;
    width: 150px;
    margin: 50px auto 0px auto;
    padding: 10px;
    text-align: center; }
    header .aboutme:hover {
      color: #FFFFFF;
      background: #211d12;
      cursor: pointer;
      transition: 0.3s; }

section {
  margin-bottom: 50px;
  text-align: center; }
  section h4 {
    color: #cc9966;
    margin: 50px 0px 30px 0px;
    text-decoration: underline; }
  section i {
    color: #cc9966;
    font-size: 72px;
    margin: 10px auto 20px auto; }

.about_me p {
  text-align: justify; }

.graduations p:first-of-type {
  font-weight: bold;
  font-size: 1.2em; }
.graduations p:last-of-type {
  font-style: italic; }

.portfolio img {
  width: 450px; }
.portfolio p {
  font-size: 1.2em;
  font-weight: bold;
  margin: 80px 0px 40px 0px; }
.portfolio span {
  font-style: italic;
  font-size: 0.8em;
  font-weight: normal; }
.portfolio a {
  background: #cc9966;
  color: #211d12;
  border-radius: 25px;
  margin: 50px auto 0px auto;
  padding: 10px 40px 10px 40px;
  text-align: center;
  text-decoration: none; }
  .portfolio a:hover {
    color: #FFFFFF;
    background: #211d12;
    cursor: pointer;
    transition: 0.3s; }
.portfolio .col-md-4 {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center; }

.testimonial {
  background: #1a1a1a;
  color: #FFFFFF;
  padding: 10px 15px 50px 15px;
  margin-top: 100px; }
  .testimonial p {
    font-style: italic;
    text-transform: uppercase; }
  .testimonial span {
    font-style: normal; }

.contact a {
  color: #211d12;
  text-decoration: none; }
  .contact a:hover {
    transition: 0.3s;
    color: #cc9966; }
.contact i {
  font-size: 30px;
  border: 1px solid #cc9966;
  border-radius: 40px;
  padding: 10px;
  margin: 30px 10px 20px 10px;
  width: 50px;
  height: 50px; }
  .contact i:hover {
    color: #FFFFFF;
    background: #211d12;
    border-color: #211d12;
    transition: 0.3s; }
.contact p {
  margin-top: 50px; }

.navBar, .navBar-mobile {
  position: fixed;
  width: 100%;
  height: 60px; }
  .navBar a, .navBar-mobile a {
    color: #211d12;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px 10px 0px 10px; }
    .navBar a:hover, .navBar-mobile a:hover {
      color: #cc9966;
      transition: 0.3s; }

.navBar {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0.5em 1em #bdc3c7;
  z-index: 3; }
  .navBar ul li {
    display: inline-block;
    margin-top: 15px; }
  .navBar ul:first-of-type {
    float: left; }
  .navBar ul:last-of-type {
    float: right; }

.navBar-mobile {
  z-index: 2;
  background-color: #FFFFFF; }
  .navBar-mobile i {
    float: right;
    font-size: 28px;
    margin: 16px 25px 0px 0px; }
    .navBar-mobile i:hover {
      color: #cc9966;
      transition: 0.1s;
      cursor: pointer; }
  .navBar-mobile ul:first-of-type, .navBar-mobile ul:last-of-type {
    background-color: #FFFFFF;
    width: 200px;
    padding: 20px 0px 20px 0px; }
    .navBar-mobile ul:first-of-type li, .navBar-mobile ul:last-of-type li {
      margin: 10px 0px 10px 15px;
      list-style: none; }
  .navBar-mobile ul:last-of-type {
    margin-top: -30px; }
  .navBar-mobile-shutdownLight {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 240%;
    background: black;
    opacity: 0.6; }

@media screen and (min-width: 768px) {
  .navBar-mobile {
    display: none; } }
@media screen and (max-width: 768px) {
  .navBar {
    display: none; } }

/*# sourceMappingURL=main.css.map */
